AWS DHCP Option set domain names separated by `032` when using `systemd-networkd`

**Image I'm using:**
`aws-k8s-1.28` with `systemd-networkd` built from #3394


**What I expected to happen:**
DHCP option set domain-names to be space-separated.


**What actually happened:**
When testing for #3394, I noticed, domain names are separated by `032` rather than by a space.
```
DNS Domain: us-west-2.compute.internal032abcdefg.com
```

This is a [known issue](https://github.com/amazonlinux/amazon-linux-2023/issues/329) when using systemd-networkd/resolved.  Further explanation is in the linked issue, but the explanation is:
>The issue here is that the VPC DHCP server sends sends the provided list of domains using DHCP option 15, which only supports a single domain name (see RFC 2132 section 3.17). When multiple domain names are provided, they're separated by a space character, which isn't valid in a domain name, so systemd-resolved replaces the space with a decimal encoding of the ascii value.


**How to reproduce the problem:**
1. Create a dhcp option set with multiple domain name like：
test1.com test2.com
2. Run a new instance connected to the VPC, `resolvectl` will show the `032`-separated domains

